@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin rounded($width, $height: $width, $radius: min($width, $height) / 2) {
  @include size($width, $height);
  border-radius: $radius;
}

@mixin unselectable() {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.unselectable {
  @include unselectable();
}