$grey: #eaeaea;
$newWeek: #ccc;

.gantt {
  $gantt_atom_height: 24px;

  position: relative;
  flex: 1 0 auto;
  display: flex;

  &__atom_meta {
    height: $gantt_atom_height;
    display: flex;
    align-items: center;

    &_title {
      flex: 1 0 auto;
    }

    &_progress, &_assigns {
      height: 100%;
    }

    &--group {
      background-color: #efefef;
    }

    &--active {
      background-color: $grey;
    }
  }

  &__meta_header {
    height: $gantt_atom_height * 2;
  }

  &__calendar_wrapper {
    overflow: auto;
  }

  &__calendar_tasks {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__meta_panel {
    position: relative;
    background-color: white;
    border-right: 1px solid $grey;
    flex: 1 0 600px;

    &_toolbar {
      padding-left: 2rem;
      height: $gantt_atom_height;
      display: flex;
      align-items: center;

      > :not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }

  &__calendar_wrapper {
    overflow: scroll;
  }

  &__calendar {
    position: relative;
    width: fit-content;
    height: 100%;
    display: flex;

    &_content {
      display: flex;
      flex: 1 0 auto;
    }

    &_selection {
      position: absolute;
      top: (24*4)px;
      height: $gantt_atom_height;
      background-color: $grey;
      left: 0;
      right: 0;
    }
  }

  &__calendar_atom_group {
    position: absolute;

    &_header {
      position: absolute;
      top: 12px;
      height: $gantt_atom_height / 2;
      background-color: $grey;
      border-radius: 4px;
      width: 100%;
      transition: all 400ms;

      &--hidden {
        height: 0;
        top: 32px;
      }
    }
  }

  &__calendar_atom {
    position: absolute;
    top: 32px * 3;
    height: $gantt_atom_height;
    background-color: red;
    border-radius: 4px;
    cursor: pointer;
  }

  &__calendar_month {
    display: flex;
    flex-flow: column nowrap;
    border-right: 1px $newWeek solid !important;
    box-sizing: border-box;
  }

  &__calendar_header {
    display: flex;
    height: $gantt_atom_height;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-bottom: 1px solid $grey;
  }

  &__calendar_column {
    height: 100%;
    width: 29px;
    flex: 0 0 auto;
    font-size: 11px;
    padding: 4px 0 0;
    box-sizing: border-box;
    text-align: center;
    color: #555960;

    &:not(&--last_in_week):not(:last-child) {
      border-right: 1px solid $grey;
    }

    &--last_in_week:not(:last-child) {
      border-right: 1px solid $newWeek;
    }
  }
}

