.user_dropdown {
  &__popover {
    border: none!important;
    top: 1px!important;
    max-width: none;
  }
  
  &__content {
    padding: 32px !important;
    box-shadow: 0 20px 20px 1px rgba(0, 0, 0, 0.09);
  }

  &__list {
    li {
      padding: 0.25rem 0;
    }
  }

  &__title {
    font-variant-caps: all-petite-caps;
    font-size: 1rem;
    letter-spacing: 2px;
  }
}
